name: addonnextupdate
on:
  issues:
    types:
      - labeled
jobs:
  add-comment:
    if: github.event.label.name == 'denylist'
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Close Issue
        uses: peter-evans/close-issue@v3
        with:
          issue-number: ${{ github.event.issue.number }}
          comment: Thank you for your support. The domain(s) has/have been added to the denylist and will be added with the next release at the latest.
